snippet c "const"
const $1 
endsnippet

snippet cl "console.log("
console.log($1
endsnippet

snippet dq "DOM querySelector"
document.querySelector(
endsnippet

snippet ec "export const"
export const $1 = $0
endsnippet

snippet () "arrow func short hand"
() => $1
endsnippet

snippet r "return keyword"
return $1
endsnippet

snippet edc "export default class"
export default class $1 {
    constructor() {
	$2
    }
}
$0
endsnippet

