snippet p "print"
print($1)
$0
endsnippet

snippet d "function"
def ${1:'fn'}($2):
    $0
endsnippet 

snippet r "quick return"
return $0
endsnippet 

snippet pymain "main"
if __name__ == "__main__":
    main()$0
endsnippet
